body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    display: flex;
    flex: 1;
    height: 100%; /* Ensure the container takes the full height */
}

/* Styling for the sidebar */
.sidebar {
    width: 40%;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    overflow-y: auto;
    height: 100%; /* Ensure the sidebar takes the full height */
}

.sidebar h1 {
    text-align: center;
    font-family: 'Candara Light';
    font-size: 50px;
}

.sidebar h2 {
    text-align: center;
    font-family: 'Candara Light';
    font-size: 24px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    text-align: center;
    font-family: 'Candara Light';
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
}

.sidebar p {
    font-family: 'Candara Light';
}

/* Styling for the poem and quote blocks */
.quote1, .quote2, .poem, .about-me {
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    color: white;
}

.quote1 {
    background: url('quote1-background.jpg') no-repeat center center;
    background-size: cover;
}

.quote2 {
    background: url('quote2-background.jpg') no-repeat center center;
    background-size: cover;
}

.poem {
    background: url('poem-background.jpg') no-repeat center center;
    background-size: cover;
}

.about-me {
    background: url('about-me-background.jpg') no-repeat center center;
    background-size: cover;
}

.posts {
    width: 60%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    overflow-y: auto;
    background: #f8f8f8;
    height: 100%; /* Ensure the posts section takes the full height */
}

.posts .post {
    background: #fff;
    display: inline-block; /* Display as inline block */
    vertical-align: center; /* Align to the top of the container */
    margin: 10px; /* Add some margin for spacing between the boxes */
    padding: 20px; /* Add padding for better appearance */
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: inherit;
    text-decoration: none;
}

.posts .post h3 {
    margin-top: 0;
}

.posts .post img {
    max-width: 100%;
    height: auto;
    border-radius: 10px; /* Add curved corners to images */
}

.posts .post blockquote {
    margin: 0;
    padding: 10px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Hide scrollbars in WebKit browsers (Chrome, Safari) */
.sidebar::-webkit-scrollbar,
.posts::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbars in Firefox */
.sidebar {
    scrollbar-width: none;
}

.posts {
    scrollbar-width: none;
}
